[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    build,
    dist,
    migrations,
    venv,
    .venv
ignore =
# whitespace before ':'
    E203,
# line break before binary operator
    W503